.playground-wrapper
  .playground-row.playground-row-1
    .player-wrapper
      .playground-player
        button Player x        
      .playground-player
        button Player x
      .playground-player
        button Player x
      .playground-player
        button Player x
  .playground-row.playground-row-2
    .player-wrapper
      .playground-player
        button Player x
      .playground-player
        button Player x
      .playground-player
        button Player x
  .playground-row.playground-row-3
    .player-wrapper
      .playground-player
        button Player x
      .playground-player
        button Player x
      .playground-player
        button Player x
      .playground-player
        button Player x