.playground-wrapper
  .select-formation-wrapper
    select
      option(value="4-4-2") 4-4-2
      option(value="4-3-3") 4-3-3
      option(value="5-4-1") 5-4-1
      option(value="5-3-2") 5-3-2
      option(value="3-4-3") 3-4-3
      option(value="3-5-2") 3-5-2
  .playground-row.playground-row-1
    .player-wrapper
      .playground-player
        button Player x  
        p.player-name Add Defender
      .playground-player
        button Player x
        p.player-name Add Defender
      .playground-player
        button Player x
        p.player-name Add Defender
      .playground-player
        button Player x
        p.player-name Add Defender
  .playground-row.playground-row-2
    .player-wrapper
      .playground-player
        button Player x
        p.player-name Add midfielder
      .playground-player
        button Player x
        p.player-name Add midfielder
      .playground-player
        button Player x
        p.player-name Add midfielder
  .playground-row.playground-row-3
    .player-wrapper
      .playground-player
        button Player x
        p.player-name Add Forward
      .playground-player
        button Player x
        p.player-name Add Forward
      .playground-player
        button Player x
        p.player-name Add Forward
      .playground-player
        button Player x
        p.player-name Add Forward